body{
	font-family: 'Open Sans', sans-serif;
	background: #fae7c3;
	font-size: 13px;
}
blockquote{
	border-left: 0px;
	padding: 1px 0px;
    margin: 0px;
}
p {
    margin: 0 0 3.9px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}
.caption{
	font-style: italic;
	margin-left: 10px;
}

.p-margin{
	margin: 10px 0px;
	font-size: 13px;
	font-weight: bold;
}
.p-margin i{
	font-weight: normal;
}
.question{
	width: 100%;
	height: auto;
	padding: 0px 5px;
}
.container{
	padding:5px;
}
.imgs img{
	width: 85%;
}
.imgs{
    width: 95px;
    height: 115px;
}
.imgs small{
	font-size: 9px;
}
.imgs img{
	-webkit-box-shadow: 0 1px 3px 0px #333;
}
.navbar-margin{
	margin-bottom: 0px !important;
	background: peru !important;
}
.overflow {
	display: block;
  /* Fallback for non-webkit */
  width: 246px;
  height: 38px;
  /* Fallback for non-webkit */
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-weight:bold;*/
}


/**** Header ****/
.top-header{
	width: 100%;
	background-image: url(../images/title-border.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin-top: 2px;
	padding: 8px 0px 0px 0px;
}
.header{
	width: 100%;
	color: #845041;
}
.header a{
	color: #845041;
}
.img-logo{
	float: left;
	margin-right: 10px;
}
.header h5{
	margin-top: 5px;
}
.ts_3d2 {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.15), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.1);
	color: #FFFFFF;
	width: 100%;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Brush Script MT', cursive;
}
.boxes{
	width: 100%;
	height: auto;
    overflow: hidden;
    margin-bottom: 5px;
    border: 1px solid burlywood;
}
.boxes h6{
	background-color: burlywood;
	margin: 0px;
	padding: 7px 0px;
}
.boxes p{
	padding: 2px;
}

/**** Navbar ****/
.navbar-default .navbar-nav > li > a {
	color: #e6dcd0;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2px 15px;
}
.navbar{
	border-radius: 0px;
	min-height: 30px;
	margin-bottom: 0px;
}
.nav li{
	text-align: center;
}
a:hover, a:link, a:visited{
	text-decoration: none;
}
.navbar-default{
	background: #845041;
	border-color: #d77d31;
	background-image: url(../images/textured-pattern.png);
}

#ourselves{
	padding: 10px;
}
.callout-box{
	background:burlywood;
	background-image:url(../images/textured-pattern.png);
}


/*Carousel css*/

#owl-demo .item{
  margin:5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel {
    display: block;
}
.events{
	border: 5px solid burlywood;
}
.blink_me{
	background: burlywood;
	margin: 5px;
	padding: 5px;
	height: 120px;
}
/**** Footer ****/
#footer .footer-top {
	background-color: #37251b;
	width: 100%;
	clear: both;
	margin: 0px;
	padding: 20px 0px;
	float: left;
	color: #37251b;
}
.copyright {
	background-color: #dccdb0;
	text-align: center;
	width: 100%;
	clear: both;
	margin: 0px;
	padding: 20px 0px;
	float: left;
	color: #37251b;
}
/**** Index ****/
.panel{
	margin-bottom: 5px;
}
.panel-heading_extra{
    padding: 5px 10px;
    background: burlywood !important;
    border: 0px;
    border-bottom: 0px solid transparent; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
}
.panel-extra{
	border: 1px solid burlywood;
	border-radius: 0px;
	background: transparent;
}
.panel-body-extra {
    padding: 15px 15px 0px 10px;
    background: none !important;
}

.text-right{
	text-align: right !important;
}
.vericaltext{
    width:1px;
    word-wrap: break-word;
    font-family: monospace;
}
.ourselves{
	float: left;
	padding: 5px;
	background-color: brown;
	height: 358px;
	margin-right: 5px;
}
.ourselves1{
	float: left;
	padding: 0px 10px;
	background-color: brown;
	height: 207px;
	margin-right: 5px;
}
.our{
height:19px;
}
.callout-box-heading2{
	color: #fff;
	font-size: 20px;
	background-repeat: repeat-y;
	background-position: right; 
	padding-right:15px;
	margin-top: 0px;
}
﻿.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}
.pagination > li > a, .pagination > li > span {
	float: none;
	padding: 2px 4px;
}
.pagination > li > a, .pagination > li > span {
    
    color: #fff;
    background-color: #845041;
    border: 0px solid #ddd; 
}
.pagination a
{
    color:#555;
}
.panel ul
{
    padding:0px;
    margin-top:-15px !important;
    list-style:none;
}
.news-item
{
    padding:5px;
    margin:0px;
    border-bottom:1px dotted #555; 
}

/**** About Us ****/
.title-section {
    float: left;
    width: 100%;
    clear: both;
    background: url(../images/border.png) bottom repeat-x;
    padding: 0px;
    margin-bottom:20px;
}
.title-section .title-wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #fcfcf7;
}
.border-title h1 {
    text-transform: uppercase;
    background: url(../images/title-border.png) bottom repeat-x;
    padding: 0px 40px 15px;
    letter-spacing: 3px;
    display: inline-block;
    font-size: 26px;
}
.border-title h6 {
    color: #ac9d8e;
    text-transform: none;
    font-weight: normal;
    line-height: 10px;
    margin-bottom: 15px;
}

/**** Meditation Center ****/
.fa-check-square-o{
	margin-right: 5px;
}


/**** Contact Us ****/
.location{
	margin-top: -20px;
	padding: 0px 0px 10px 0px;
}
.footer_bg{
	background-image: url(../images/map-trans.png);
	background-size: 100%;
	/*background-repeat: no-repeat;*/
}
.contact_box{
	width: 100%;
	height: 210px;
	border: 1px solid #37251b;
    text-align: center;
    padding: 30px 0px;
    background-color: rgba(100,100,100,0.1);
    color: #37251b;
}
.loc_pad{
	padding: 20px 0px;
}
.footer_menu h4{
	border-bottom: 2px solid #dccdb0;
	padding: 15px 0px;
	width: 100%;
}
.list-inline i{
	width: 35px;
	padding: 10px;
	transition: all 0.15s ease;
	-webkit-transition: all 0.15s ease;
	text-align: center;
}
.list-inline .fa-facebook{
	border: 1px solid #3b5998;
	color: #3b5998;
}
.list-inline .fa-facebook:hover{
	padding: 10px;
	border-radius: 100%;
	background: #3b5998;
	color: #fff;
}
.list-inline .fa-twitter{
	border: 1px solid #00a0d1;
	color: #00a0d1;
}
.list-inline .fa-twitter:hover{
	padding: 10px;
	border-radius: 100%;
	background: #00a0d1;
	color: #fff;
}
.list-inline .fa-google-plus{
	border: 1px solid #db4a39;
	color: #db4a39;
}
.list-inline .fa-google-plus:hover{
	padding: 10px;
	border-radius: 100%;
	background: #db4a39;
	color: #fff;
}

#social-buttons {
    margin: 280px 0px 0px 0px;
    position: fixed;
    z-index: 99;
}
#social-buttons ul {
    list-style: none;
    margin-left: -40px;
}
#social-buttons ul li {
    width: 50px;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}
#social-buttons ul li:hover {
    width: 60px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#social-buttons ul li i {
    font-size: 25px;
    padding: 8px;
}
#social-buttons ul li h4 {font-size: 12px; display: inline; position: absolute; margin: 18px 0 0 15px;}
a.facebook li {background: #4b699e; color: #fff;}
a.facebook li:hover {background: #fefefe; color: #4b699e; border-right: 1px solid #4b699e}
a.twitter li {background: #55acee; color: #fff;}
a.twitter li:hover {background: #fefefe; color: #55acee; border-right: 1px solid #55acee;}
a.youtube li {background: #cf4738; color: #fff;}
a.youtube li:hover {background: #fefefe; color: #cf4738; border-right: 1px solid #cf4738;}
a.github li {background: #5b5b5b; color: #fff;}
a.github li:hover {background: #fefefe; color: #5b5b5b; border-right: 1px solid #5b5b5b;}
a.gplus li {background: #d05d46; color: #fff;}
a.gplus li:hover {background: #fefefe; color: #d05d46; border-right: 1px solid #d05d46;}
a.linkedin li {background: #3586b9; color: #fff;}
a.linkedin li:hover {background: #fefefe; color: #3586b9; border-right: 1px solid #3586b9;}
a.pinterest li {background: #bc3e34; color: #fff;}
a.pinterest li:hover {background: #fefefe; color: #bc3e34; border-right: 1px solid #bc3e34;}
a.vimeo li {background: #5dc6ff; color: #fff; border-bottom-right-radius: 10px;}
a.vimeo li:hover {background: #fefefe; color: #5dc6ff; border-right: 1px solid #5dc6ff;}