<!-- <section>
<div class="container">
	<div class="row" id="ourselves">
		<div class="col-md-12">
			<div class="col-md-8" style="background:#fff; padding:10px 0px">
			<div class="col-md-4">
				<img src="images/ourselves.jpg" class="img-responsive">
			</div>
			<div class="col-md-8" style="background:#fff">
				<div class="our-font">
				<strong>OURSELVES</strong>
				<h6>Every Second We Evolve !</h6>
				<h6>What for is this <b>Evolution !</h6>
				<h6>Not for Intelligent Living …</h6>
				<h6>Not for Revolutionized Thinking …</h6>
				<h6>No doubt we Evolve through Revolution.</h6>
				<h6>Even though We are Expecting Something …</h6>
				<h6>What For …</h6>
				<h6>Our Individual Self should Transcend as <b>UNIVERSAL SPIRIT.</b></h6>
				<h6>Then We would be <b>VISWAAMITHRA</b> … A FRIEND TO UNIVERSE</h6>
				<h6>We become <b>VISWAATHMA … A UNIVERSAL SPIRIT</b></h6>
				<h6>Here Stands <b>yogaalaya.</b></h6>
				<h6><b>Yogaalaya</b> is the Center for Spiritual Brotherhood</h6>
				<h6><b>Yogaalaya</b> expands … DEEP into YOU</h6>
				<h6><b>Yogaalaya</b> brings SPIRIT into your LIVING</h6>
				<h6><b>Then Your Self Lives With Spirit</b></h6></div> -->

				<!-- <ul class="list-unstyled">
					<li>Every Second We Evolve !</li>
					<li>What for is this <b>Evolution !</b></li>
					<li>Not for Intelligent Living …</li>
					<li>Not for Revolutionized Thinking …</li>
					<li>No doubt we Evolve through Revolution.</li>
					<li>Even though We are Expecting Something …</li>
					<li>What For …
						<ul style="list-style:none">
							<li>Our Individual Self should Transcend as <b>UNIVERSAL SPIRIT.</b></li>
							<li>Then We would be <b>VISWAAMITHRA</b> … A FRIEND TO UNIVERSE</li>
							<li>We become <b>VISWAATHMA … A UNIVERSAL SPIRIT</li>
						</ul>
					</li>
					<li>Here Stands <b>yogaalaya.</b>
						<ul style="list-style:none">
							<li><b>Yogaalaya</b> is the Center for Spiritual Brotherhood</li>
							<li><b>Yogaalaya</b> expands … DEEP into YOU</li>
							<li><b>Yogaalaya</b> brings SPIRIT into your LIVING</li>
							<li><b>Then Your Self Lives With Spirit</b></li>
						</ul>
					</li>
				</ul> -->
			<!-- </div>
			</div>
			<div class="col-md-4" style="background:#845041; padding:10px; margin:0 auto"> -->
				<!-- <div class="col-md-12 form-group">
					<p class="text-center slide-heading">Our Books</p>					
					<div style="display:block">
					<img src="images/master cvv.jpg" class="img-responsive">
					</div>
				</div>
				<div class="col-md-12">
					<p class="text-center slide-heading">Our Books</p>
					<img src="images/master cvv.jpg" class="img-responsive">
				</div> -->
				<!-- <div> -->
					<!-- <div class="frame form-group col-md-12" ng-repeat="leader in leaders">
						<small class="top-heading">{{leader.title}}</small>
						<img ng-src="images/{{leader.image}}" class="img-responsive">
						<small>{{leader.name}}</small>
					</div> -->
					<!-- <div class="frame form-group col-md-12 text-center">
						<small class="top-heading"></small>
						<img src="images/master-cvv.jpg" class="img-responsive">
						<small></small>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>#fff4df
</section> -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5">
					<section class="callout-box">						
						<h4 class="callout-box-heading">OURSELVES</h4>
						<h6>Every Second We Evolve !</h6>
						<h6>What for is this <b>Evolution !</b></h6>
						<h6>Not for Intelligent Living …</h6>
						<h6>Not for Revolutionized Thinking …</h6>
						<h6>No doubt we Evolve through Revolution.</h6>
						<h6>Even though We are Expecting Something …</h6>
						<h6>What For …</h6>
						<h6>Our Individual Self should Transcend as <b>UNIVERSAL SPIRIT.</b></h6>
						<h6>Then We would be <b>VISWAAMITHRA</b> … A FRIEND TO UNIVERSE</h6>
						<h6>We become <b>VISWAATHMA … A UNIVERSAL SPIRIT</b></h6>
						<h6>Here Stands <b>yogaalaya.</b></h6>
						<h6><b>Yogaalaya</b> is the Center for Spiritual Brotherhood</h6>
						<h6><b>Yogaalaya</b> expands … DEEP into YOU</h6>
						<h6><b>Yogaalaya</b> brings SPIRIT into your LIVING</h6>
						<h6><b>Then Your Self Lives With Spirit</b></h6>
					</section>
				</div>
				<div class="col-md-7">
					<section class="callout-box form-group">						
						<div class="row">
							<div class="col-md-12">
								<h4 class="callout-box-heading">Founders</h4>
								<div class="col-md-4">
									<section class="frame">
										<img src="images/master cvv.jpg">
									</section>
								</div>
								<div class="col-md-4">
									<section class="frame">
										<img src="images/master cvv.jpg">
									</section>
								</div>
								<div class="col-md-4">
									<section class="frame">
										<img src="images/master cvv.jpg">
									</section>
								</div>
							</div>
						</div>
					</section>
					<section class="callout-box">						
						<div class="row">
							<div class="col-md-12">
								<h4 class="callout-box-heading">Books</h4>
								<div class="col-md-4">
									<section class="frame">
										<img src="images/master cvv.jpg">
									</section>
								</div>
								<div class="col-md-4">
									<section class="frame">
										<img src="images/master cvv.jpg">
									</section>
								</div>
								<div class="col-md-4">
									<section class="frame">
										<img src="images/master cvv.jpg">
									</section>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>